{% extends "base.html" %}

{% block title %}
Tomatow Novels
{% endblock %}

{% block content %}
<h3 align="center">番茄小说</h3><hr>
<form action="" method="post" name="search">
{{form.hidden_tag()}}
{{form.search_name(class="form-control",placeholder="输入你要搜索的书名")}}
{% for error in form.search_name.errors %}
    <span style="color: red;">[{{error}}]</span>
{% endfor %}<br>
{{form.submit(value="搜索",class="btn btn-default")}}
</form>
<hr>
{% block script %}
{{ super() }}
{% endblock %}
<footer>
    番茄系列:
    <a href="http://tomatow.top/magnetic">番茄磁力搜索</a>

</footer>
{% endblock %}
